<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi! I'm GhostyJam, known as Maj in real life. 
          I'm an aspiring game developer currently undertaking my Master's in Games Technology at the IT University of Copenhagen.
          Prior to starting my Master's, I did a Bachelor in Software Development.
          </p>
      </div>
      <div class="col-lg-4">
        <p>I'm a naturally curious person who loves learning and creating.
          I've been very fortunate to take part in making some cool things already, 
          such as releasing a free-to-play game on Steam called <b href="https://store.steampowered.com/app/2786840/The_Bridge_to_Yesterday/">The Bridge to Yesterday</b> with a bunch of amazing people. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
